@import url(https: //fonts.google.com/specimen/Roboto);
@import url(https: //fonts.google.com/noto/specimen/Noto+Sans);

body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    front font-family: 'u', sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 89px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 163px;
    padding: 0 8px;

}
.brand{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
}
.container{
    min-height: 75vh;
    background-color: black;
    color: white;
    font-family: 'Roboto','Noto+Sans';
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url(maxresdefault.jpg);
}
.bottom{
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 14px;
}

.icons i{
    cursor: pointer;
}
#myProgressBar{
    width: 80vw;
}


